<!DOCTYPE html>
<html>

{% include "parts/head.html" %}

<body>
    <div class="container">
        {% include "parts/header.html" %}

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-5 col-sm-8 col-lg-6">
                <img src="/static/images/netflix_logo.jpg" class="d-block mx-lg-auto img-fluid shadow-sm p-3 mb-5 bg-body rounded" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
            </div>
            <div class="col-lg-5">
                <h1 class="display-5 fw-bold lh-1 mb-3">Find your next favorite Netflix watch</h1>
                <p class="lead">
                    This recommendation engine finds similar movies/TV shows based on the movies your previously clicked.
                </p>
            </div>
        </div>

        <!-- top shows -->
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% for show in newest_shows %}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg" style="background-color: rgba({{range(0, 78)|random}}, {{range(0, 78)|random}}, {{range(0, 78)|random}}, 0.4);">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <a href="/show/{{show['id']}}" style="text-decoration: none; color: rgb(80, 57, 57);">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{show['title']}}</h2>
                        </a>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <small>{{show['cast']}}</small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                <small>Release Year: {{show['release_year']}}</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                <small>{{show['type']}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- top shows -->

        <!-- id, show_id, type, title, director, cast, release_year, listed_in, description  -->
        <!-- rand shows -->
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% for show in rand_shows %}
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg" style="background-color: rgba({{range(0, 78)|random}}, {{range(0, 78)|random}}, {{range(0, 78)|random}}, 0.4);">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <a href="/show/{{show['id']}}" style="text-decoration: none; color: rgb(80, 57, 57);">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{show['title']}}</h2>
                        </a>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <small>{{show['cast']}}</small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                <small>Release Year: {{show['release_year']}}</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                <small>{{show['type']}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- rand shows -->

        {% include "parts/footer.html" %}
    </div>
</body>

</html>