body {
    background-color: rgb(113, 142, 131);
}

p {
    font-size: large;
    text-align: center;
}

.textBox2 {
    width: 90%;
    border: none;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

#addTask2 {
    cursor: pointer;
    font-size: 25px;
    background-color: aquamarine;
}