body {
    background-color: rgb(104, 63, 63);
}

p {
    font-size: large;
    text-align: center;
}

.textBox {
    width: 80%;
    border: none;
    border-bottom: 2px solid rgb(103, 90, 90);
    border-top: 2px solid rgb(103, 90, 90);
    border-left: 2px solid rgb(103, 90, 90);
    border-right: 2px solid rgb(103, 90, 90);
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

#addTask {
    cursor: pointer;
    font-size: 25px;
    background-color: rgb(204, 237, 139);
}

.div {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.task {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
}

.task button {
    float: right;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}