body {
    background-color: rgb(102, 109, 50);
}

p {
    font-size: large;
    text-align: center;
}

.textBox {
    width: 80%;
    border: none;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

#addTask {
    cursor: pointer;
    font-size: 25px;
    background-color: aquamarine;
}

div {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.list_item {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
}

.task button {
    float: right;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.task_done button {
    float: right;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}