<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    <title>{% block title %}
        <!-- Placeholder for Title -->{% endblock %} </title>
</head>

<body>
    <div>
        <ul style="list-style-type: none;float: right;font-size: large;">
            <li style="display:inline"><a href="{{url_for('home')}}">Home</a></li>
            <li style="display:inline"><a href="{{url_for('about')}}">About</a></li>
            <li style="display:inline"><a href="{{url_for('signup')}}">Sign Up</a></li>
        </ul>
    </div>
    <h1 style='text-align: center;'>{% block heading %}
        <!-- Placeholder for Heading -->{% endblock %}</h1>
    {% block content %}
    <!-- Placeholder for Page Content -->
    {% endblock %}
</body>

</html>