<html>

<head>
    <title>Pictogram</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div>
        <nav>
            <a href="/#">log in</a> | <a href="/">home</a> | <a href="/profile">profile</a>
        </nav>
    </div>
    <hr>
    <form method="POST" action="/login">
        <label>Log in with your e-mail: </label>
        <input type="text" placeholder="e-mail" name="email" required>
        <input type="submit">
    </form>

</body>

</html>