<!DOCTYPE html>
<html>

<head>
    <title>Bookmarks App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>My Bookmarks</h1>
    <hr> {{date}} - {{time}}
    <hr>
    <a href="/add">New bookmark</a>

    <!-- Search form (using GET request) -->
    <form method="GET" action="/" class="search-form">
        <input type="text" placeholder="Search bookmarks" name="searchword" value="{{searchword}}">
        <input type="submit" value="Search">
        <a href="/">clear</a>
    </form>
    <!-- -->

    <hr>
    <a href="?order=newer">newer first</a> | <a href="?order=older">older first</a> {% if bookmarks|count == 0%}
    <p><i>Yay! Your list is empty!</i></p>
    {% else %}
    <ul>
        {% for bookmark in bookmarks %}
        <li>
            {% if bookmark[3] == 1 %}
            <a class="visited" href="{{bookmark[2]}}" target="_blank">{{bookmark[1]}}</a>
            <a class="op" href="/unvisit/{{bookmark[0]}}">mark unvisited</a> | {% else %}
            <a href="{{bookmark[2]}}" target="_blank">{{bookmark[1]}}</a>
            <a class="op" href="/visited/{{bookmark[0]}}">mark visited</a> | {% endif %}

            <a class="edit" href="/edit/{{bookmark[0]}}">edit</a> |
            <a class="op" href="/delete/{{bookmark[0]}}" onclick="return confirm('Are you sure?')">delete</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <hr>
</body>

</html>