    html {
        background-color: #c2b3c2;
    }
    
    h1 {
        font-size: 42px;
        margin: 0;
        padding: 20px 0;
        color: #142b41;
        text-shadow: 1px 2px 1px rgb(87, 113, 152);
        text-align: center
    }
    
    li {
        list-style-type: none;
    }
    
    form.form-example {
        display: table;
        margin: 0 auto;
        width: 500px;
        /* Form outline */
        padding: 1em;
        border: 2px solid #CCC;
        border-radius: 1em;
    }
    
    body {
        background-image: url('/static/images/DI9A0098.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    h1 {
        font-size: 48px;
        margin: 0;
        padding: 20px 0;
        color: #142b41;
        text-shadow: 1px 2px 1px rgb(87, 113, 152);
        text-align: center
    }
    
    h2 {
        font: italic small-caps bold 32px/2 cursive;
    }
    
    .navigation a {
        color: black;
    }
    
    .navigation a:hover {
        color: lime;
    }
    
    #dice-roll {
        border: 4px solid seagreen;
        width: 70px;
        border-radius: 15%;
        font-size: 48px;
        font-weight: bold;
        padding: 10px;
        color: seagreen;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #roll-again-link {
        color: salmon;
        background-color: steelblue;
        font-weight: bold;
    }
    
    #roll-again-link:hover {
        color: white;
    }
    
    .message {
        color: yellow;
    }