<!DOCTYPE html>
<html lang="en-US">

{% include 'head.html' %}

<body>
    {% include 'flash_messages.html' %}{% include 'nav.html' %}
    <hr>

    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <div class="_6luv _52jv">
                <form action="/edit_profile" method="POST" onsubmit="">
                    <h1 class="h3 mb-3 fw-normal">Edit profile info</h1>
                    <div>Update your personal info:</div>
                    <div class="_6lux form-floating">
                        <input type="text" name="current_city" class="form-control" id="floatingCity" placeholder="Enter current city">
                        <label for="floatingCity">Current city</label>
                    </div>
                    <div class="_6lux form-floating">
                        <input type="text" name="hometown" class="form-control" id="floatingCity" placeholder="Enter hometown">
                        <label for="floatingCity">Hometown</label>
                    </div>
                    <div class="_6lux form-floating">
                        <textarea type="text" rows="2" cols="10" name="bio" placeholder="Write something about you" class="textarea"></textarea>
                    </div>
                    <div class="_6lux">
                        <button name="save_new_geolocation" type="submit" value="Submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </div>
                    <br>
                    <a href="/profile">Go back to profile</a>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</body>