<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include 'head.html' %}
</head>

<body>
    {% include 'nav.html' %}
    <hr>

    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col">
                {% if posts|count == 0 %} No posts to show. {% else %}
                <ul>
                    {% for post in posts %}
                    <li>
                        <a href="/user_profile/{{post[0]}}">
                            <img class="rounded-circle nav-pic" src="/static/profile-pics/{{post[4] if post[4] else 'no-picture.jpg'}}"></a> | {{post[3]}} <br> <img class="post" src="/static/files/{{post[1]}}">
                        <br> {{post[2]}}
                        <br> {% if post_comments[post[5]]|count == 0 %}
                        <form action="/comment/{{post[5]}}" method="POST">
                            <textarea type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                            <button type="submit" name="comment" class="w-100 btn btn-lg btn-primary">Submit Comment</button>
                        </form>
                        {% else %}
                        <ul>
                            {% for comment in post_comments[post[5]] %}
                            <li>
                                <a href="/profile"><img class="rounded-circle nav-pic" src="/static/profile-pics/{{comment[1]}}.jpg"></a> {{comment[3]}} | {{comment[2]}}
                            </li>
                            {% endfor %}
                        </ul>
                        <form action="/comment/{{post[5]}}" method="POST">
                            <textarea type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                            <button type="submit" name="comment" class="w-100 btn btn-lg btn-primary">Submit Comment</button>
                        </form>
                        {% endif %}

                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="col"></div>
        </div>
    </div>
</body>

</html>