<!DOCTYPE html>
<html lang="en-US">

{% include 'head.html' %}

<body>
    {% include 'flash_messages.html' %} {% include 'nav.html' %}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col">
                {% if posts|count == 0 %} No posts to show. To make a new post <a href="/post">click here</a> {% else %}
                <a href="/post">Create new post</a>
                <hr>
                <ul>
                    {% for post in posts %}
                    <li>
                        <div><i class="create_on">{{post[3]}}</i></div>
                        <img class="post" src="/static/files/{{post[1]}}">
                        <br> {{post[2]}} | <a href="/delete_post/{{post[0]}}">Delete post</a>
                        <div class="test">
                            <a href="{{post[0]}}" class="test"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                              </svg></a>
                        </div>
                        <div class="like_unlike">
                            <b id="likes-of-{{post[0]}}"> {{post_likes[post[0]]}} </b> likes

                            <a href="{{post[0]}}" class="addlike_class" likeid="{{post[0]}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg></a>
                            <a href="{{post[0]}}" class="removelike_class" unlikeid="{{post[0]}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg></a>
                        </div>

                        <br> {% if post_comments[post[0]]|count == 0 %}
                        <form action="/comment/{{post[0]}}" method="POST">
                            <textarea type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                            <button type="submit" name="comment" class="w-100 btn btn-lg btn-primary">Submit Comment</button>
                        </form>
                        {% else %}
                        <ul id="comments-of-{{post[0]}}">
                            {% for comment in post_comments[post[0]] %}
                            <li>
                                <a href="/profile"><img class="rounded-circle nav-pic" src="/static/profile-pics/{{comment[1]}}.jpg"></a> {{comment[3]}} | {{comment[2]}} | <a href="/delete/{{comment[0]}}" onclick="return confirm('Are you sure?')">delete comment</a>
                            </li>
                            {% endfor %}
                        </ul>

                        <textarea id="comment-for-{{post[0]}}" type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                        <button id="submit-for-{{post[0]}}" type="submit" name="comment" class="w-100 btn btn-lg btn-primary">Submit Comment</button> {% endif %}
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- Load more -->
                <div id="more-content">
                </div>

                <button type="submit" id="load-more" class="w-100 btn btn-block btn-light">Load more</button>
            </div>

            <div class="col">
                <a href="/edit_profile_pic" title="Click to change profile picture"><img src="/static/profile-pics/{{session['profile_pic'] if session['profile_pic'] else 'no-picture.jpg'}}" class="rounded-circle profile-pic"></a>
                <br> {{session['name']}} {{session['surname']}}
                <br>
                <a href="/settings">Settings</a>
                <br>
                <a href="/edit_profile">Edit profile</a>
                <br> 📍 <a href="https://en.wikipedia.org/wiki/{{info[0]}}" target="_blank">{{info[0]}} </a>
                <br> 🏡 <a href="https://en.wikipedia.org/wiki/{{info[1]}}" target="_blank"> {{info[1]}} </a>
                <br> 📝 {{info[2]}}
            </div>
        </div>
    </div>

</body>

</html>