<!DOCTYPE html>
<html lang="en-US">

{% include 'head.html' %}

<body>
    {% include 'flash_messages.html' %}
    {% include 'nav.html' %}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col">
                {% if posts|count == 0 %} No posts to show. To make a new post <a href="/post">click here</a> {% else %}
                <a href="/post">Create new post</a>
                <hr>
                <ul>
                    {% for post in posts %}
                    <li>
                        <div><i class="create_on">{{post[3]}}</i></div>
                        <img class="post" src="/static/files/{{post[1]}}">
                        <br> {{post[2]}} | <b id="likes-of-{{post[0]}}"> {{post_likes[post[0]]}} </b> likes | <a href="{{post[0]}}" class="addlike_class">+1</a> | <a href="{{post[0]}}" class="removelike_class">-1</a>
                        <br> {% if post_comments[post[0]]|count == 0 %}
                        <form action="/comment/{{post[0]}}" method="POST">
                            <textarea type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                            <button type="submit" name="comment" class="w-100 btn btn-lg btn-primary">Submit Comment</button>
                        </form>
                        {% else %}
                        <ul id="comments-of-{{post[0]}}">
                            {% for comment in post_comments[post[0]] %}
                            <li>
                                <a href="/profile"><img class="rounded-circle nav-pic" src="/static/profile-pics/{{comment[1]}}.jpg"></a> {{comment[3]}} | {{comment[2]}} | <a href="/delete/{{comment[0]}}" onclick="return confirm('Are you sure?')">delete comment</a>
                            </li>
                            {% endfor %}
                        </ul>
                        
                        <textarea id="comment-for-{{post[0]}}" type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                        <button id="submit-for-{{post[0]}}" type="submit" name="comment" class="w-100 btn btn-lg btn-primary">Submit Comment</button>
                        <script>
                            $("#submit-for-{{post[0]}}").on('click', function() {
                                var comment = $("#comment-for-{{post[0]}}").val();
                                var post_id = {{post[0]}};

                                $.ajax({
                                    method: 'POST',
                                    url: "/comment_ajax/" + post_id,
                                    data: {comment: comment},
                                    success: function (result) {
                                        $("#comments-of-" + post_id).html(result);
                                    },
                                    error: function () {
                                        alert("Comment not successful, try again");
                                    }
                                });
                            });
                        </script>
                        {% endif %}
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- Load more -->
                <div id="more-content">
                </div>
                
                <button type="submit" id="load-more" class="w-100 btn btn-block btn-light">Load more</button>
            </div>

            <div class="col">
                <a href="/edit_profile_pic" title="Click to change profile picture"><img src="/static/profile-pics/{{session['profile_pic'] if session['profile_pic'] else 'no-picture.jpg'}}" class="rounded-circle profile-pic"></a>
                <br> {{session['name']}} {{session['surname']}}
                <br>
                <a href="/settings">Settings</a>
                <br>
                <a href="/edit_profile">Edit profile</a>
                <br> 📍 <a href="https://en.wikipedia.org/wiki/{{info[0]}}" target="_blank">{{info[0]}} </a>
                <br> 🏡 <a href="https://en.wikipedia.org/wiki/{{info[1]}}" target="_blank"> {{info[1]}} </a>
                <br> 📝 {{info[2]}}
            </div>
        </div>
    </div>

    <script>
    # function addLike(post_id) {
    #     $.ajax({
    #         method: 'POST',
    #         url: "/addlike/" + post_id,
    #         success: function (result) {
    #             var old_val = parseInt($("#likes-of-" + post_id).html());
    #             $("#likes-of-" + post_id).html(old_val + 1);
    #         }
    #     });
    # }
    </script>
</body>

</html>