<!DOCTYPE html>
<html lang="en-US">

{% include 'head.html' %}

<body>
    {% include 'flash_messages.html' %} {% include 'nav.html' %}
    <hr>

    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <div class="_6luv _52jv">
                <form action="/settings" method="post" onsubmit="">
                    <h1 class="h3 mb-3 fw-normal">Settings</h1>
                    <div>Update your password: </div>
                    <div class="_6lux form-floating">
                        <input type="password" name="old_password" class="form-control" id="floatingPassword" placeholder="Old password" required>
                        <label for="floatingPassword">Old password</label>
                    </div>
                    <div class="_6lux form-floating">
                        <input type="password" name="new_password" class="form-control" id="floatingPassword" placeholder="New password" required>
                        <label for="floatingPassword">New password</label>
                    </div>
                    <div class="_6lux form-floating">
                        <input type="password" name="new_password_re_enter" class="form-control" id="floatingPassword" placeholder="Re-enter new password" required>
                        <label for="floatingPassword">Re-enter new password</label>
                    </div>
                    <div class="_6lux">
                        <button name="save_new_password" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </div>
                    <br>
                    <a href="/profile">Go back to profile</a>

                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>

    {% if request.args.get('error') %}
    <h1>{{request.args.get('error')}}</h1>
    {% endif %}

</body>

</html>