<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include 'head.html' %}
</head>

<body>
    {% include 'nav.html' %}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col">
                {% if posts|count == 0 %} No posts to show. {% else %}
                <hr>
                <ul>
                    {% for post in posts %}
                    <li>
                        {{post[3]}}
                        <img class="post" src="/static/files/{{post[1]}}"> {{post[2]}}

                        <br> {% if post_comments[post[0]] == 0 %}
                        <form action="/comment/{{post[0]}}" method="POST">
                            <textarea type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                            <button type="submit" name="comment">Submit comment</button>
                        </form>
                        {% else %}
                        <ul>
                            {% for comment in post_comments[post[0]] %}
                            <li>
                                <a><img class="rounded-circle nav-pic" src="/static/profile-pics/{{comment[1]}}.jpg"></a> {{comment[3]}} | {{comment[2]}}
                            </li>
                            {% endfor %}
                        </ul>
                        <form>
                            <textarea type="text" rows="2" cols="40" name="comment" placeholder="Comment" class="textarea"></textarea>
                            <button type="submit" name="comment">Submit comment</button>
                        </form>
                        {% endif %}
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="col">
                <img src="/static/profile-pics/{{profile_pic}}" class="rounded-circle profile-pic">
                <br> {{first_name}} {{last_name}}
            </div>
        </div>
    </div>
</body>

</html>