html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    width: 600px;
    margin: auto;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: tomato;
    text-decoration: underline;
}

a.op {
    color: thistle;
}

a.op:hover {
    color: plum;
}

a.visited {
    text-decoration: line-through;
}

a.edit {
    color: purple
}

a.edit:hover {
    color: rebeccapurple
}

form.search-form {
    display: inline-block;
    position: relative;
    float: right;
}