<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Subscribe to our newsletter</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <center>
        {% include 'parts/navigation.html' %}

        <h1>Subscribe to our newsletter</h1>
        <form action="/subscribe" method="post" class="form-example">
            <div class="form-example">
                <label for="name">Name: </label>
                <input type="text" name="user_name" id="name" required>
            </div>
            <div class="form-example">
                <label for="email">Email: </label>
                <input type="email" name="user_email" id="email" required>
            </div>
            <div class="form-example">
                <label for="button">Click on this button to subscribe: </label>
                <input type="submit" class="favorite styled" id="button" value="Subscribe!">
            </div>
        </form>

        {% if message %}
            <h3 class="message">{{ message }}</h3> 
        {% endif %} 
        
        {% include 'parts/footer.html' %}

    </center>
</body>