<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bookmarks App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Bookmarks App</h1>
    <a href="/add">Add new bookmark</a>
    <br>
    <ul>
        <li>
            {% if offset > limit %}
            <a href="?offset={{offset - limit}}&limit={{limit}}">previous</a> {% else %}
            <a href="?offset=0&limit={{limit}}">previous</a> {% endif %}
        </li>
        <li>
            {% if offset + limit > offset_max %}
            <a href="?offset={{offset}}&limit={{limit}}">next</a> {% else %}
            <a href="?offset={{offset + limit}}&limit={{limit}}">next</a> {% endif %}
        </li>
    </ul>
    <br>
    <ul>
        {% for bookmark in bookmarks %}
        <li>
            <a href="{{bookmark[2]}}" target="_blank">{{bookmark[1]}}</a> |
            <a href="/delete/{{bookmark[0]}}" onclick="return confirm('Are you sure')">delete</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>