<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Natasa Ivic">
    <meta name="description" content="This project will add jQuery functionality to a &quot;to-do list&quot; webpage. ">

    <title>To Do List</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <!-- Include the jQuery library in our web page -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Linking to an External JavaScript File -->
    <script type="text/javascript" src="/static/scripts/main.js"></script>
</head>

<body>
    <div class="div1">
        <input type="text" id="textBox2" class="textBox2" placeholder="Enter task here">
        <button id="addTask2" class="fa fa-plus"></button>
        <!-- <button id="import" class="fa fa-server"></button> -->
        <div class="notCompleted">
            <h2>To do: </h2>

        </div>
        <div class="completed">
            <h2>Done: </h2>
        </div>
    </div>
    <hr>
    <p>Additional practice: </p>
    <div class="div2">
        <ul id="unord_li">
            <li class="hov1">First</li>
            <li class="hov2">Second</li>
            <li class="hov3">Third</li>
        </ul>
        <button id="hide">Hide List</button>
        <button id="show">Show List</button>
    </div>
    <div class="div3">
        <a href="https://www.facebook.com" target="_blank" id="site">Facebook</a>
        <br>
        <button id="website">Change Website</button>
    </div>
</body>

</html>